@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;600;700&display=swap');
/* font-family: 'Crimson Pro', serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
/* font-family: 'Poppins', serif; */

:root {
  --colors-background: #D9CDF7;
  --colors-purple100: #271A45;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html {
  background-color: var(--colors-background);
}